* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poiret One', cursive;
}
/* width */
::-webkit-scrollbar {
    width: 9px;
    display: none;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    box-shadow: outset 0 0 5px grey; 
    border: 1px solid black;
    border-radius: 5%;
  }
   
   Handle 
  ::-webkit-scrollbar-thumb {
    background: #34495E; 
    border-radius: 10px;
    
  }
  
  Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: mediumslateblue; 
  }*/

  /* Landing Page */
#body_wrap {
    width: 100%;
    height: 100%;
}

#landing {
    position: relative;
    width: 100vw;
    height: 100%;
    scroll-behavior: smooth;

}

#l-wrapper {
    height: 100%;
    width: 100%;

}





/* Page 2 */

#page2 {
    position: relative;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    background-size: cover;
}


/* Page 3 */

#page3 {
    position: relative;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    background-size: cover;
}





/* SideBar Navbar */
#wrap-1{
    position: absolute;
    width: 5%;
    height: 300%;
    background-color: black;
    opacity: .85;
    transition: .9s;
    z-index: 2;
}   

#wrap-1 a {
    color: white;
}

#lineWrap {
    position: fixed;
    top: 70%;
    left: -3.5px;
    height: 60%;
    width: 20%;
    background-color: transparent;
    visibility: hidden;
    overflow: hidden;
}

#line1, #line2, #line3, #line4 {
    position: relative;
    height: 1.5px;
    margin-bottom: 15%;
    width: 100%;
    background-color:  #EB984E;
    transform: translateX(100%);
    z-index: 2;
    opacity: 0;
}

#wrap-1:hover #line1 {
    transition: 1s;
    opacity: 1;
    transform: translateX(-30%);
}

#wrap-1:hover #line2 {
    transition: .75s;
    opacity: 1;
    transform: translateX(-30%);
}
#wrap-1:hover #line3 {
    transition: .5s;
    opacity: 1;
    transform: translateX(-30%);
}
#wrap-1:hover #line4 {
    transition: .25s;
    opacity: 1;
    transform: translateX(-30%);
}


#wrap-1:hover #lineWrap {
    transition: 1s;
    visibility: visible;
}

#line1 {
    width: 25%;
    right: -80%;
}


#line2 {
    width: 25%;
    right: -70%;
}

#line3 {
    width: 25%;
    right: -60%;
}

#line4 {
    width: 25%;
    right: -50%;
}


#link1::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #EB984E;
    transition: .4s;
    opacity: 0;
    transform:  translateX(-100%);
} 

#link1:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link1:hover {
    color: #5DADE2!important;
}

#link2::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #EB984E;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link2:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link2:hover {
    color: #5DADE2!important;
}

#link3::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #EB984E;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link3:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link3:hover {
    color: #5DADE2!important;
}



#link4::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #EB984E;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link4:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link4:hover {
    color: #5DADE2!important;
}
#wrap-1:hover {
    border-right: 2px solid #5DADE2;
    width: 20%;
    
}

#navWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navWrap h2:first-child {
    position: fixed;
    top: 20%;
    transform: translateX(100%);
    visibility: hidden;
    
}

#navWrap h2:nth-child(2) {
    position: fixed;
    top: 30%;
    transform: translateX(100%);
    visibility: hidden;
}

#navWrap h2:nth-child(3) {
    position: fixed;
    top: 40%;
    transform: translateX(100%);
    visibility: hidden;
}
#navWrap h2:nth-child(4) {
    position: fixed;
    top: 50%;
    transform: translateX(100%);
    visibility: hidden;
}
#wrap-1:hover h2 {
    transition: 1s;
    transform: translateX(5%);
    visibility: visible;
}

#navWrap a {
    text-decoration: none;
}

#navWrap a:visited {
    color: white;
}

#wrap-1 h2 {
    font-size: 130%;
    color: whitesmoke;
}

#handleWrap {
    top: 0;
    position: fixed;
    height: 100%;
    width: 5%;
    background-color: transparent;
    pointer-events: none;
    transform: scale(1.5);
}

#handleWrap .line {
    position: relative;
    background-color: whitesmoke;
    height: 2.5%;
    width: 1%;
}

.letter {
    position: relative;
    right: .1rem;
    width: 100%;
    height: 100%;
    font-size: .7rem;
    font-weight: bold;
    color: white;
    transform: rotate(-90deg);
}

#l1 {
    top: 20%;
    transition: 1s;
}

#l2 {
    top: 5%;
    transition: 1s;
}

#l3 {
    top: 20%;
    transition: 1s;
}

#l4 {
    top: 10%;
    transition: 1s;
}



#trl {
    top: 45%;
    left: 48%;
    transform: rotate(90deg);
}

#tll {
    top: 44%;
    left: 60%;
    transform: rotate(90deg);

}

#brl {
    top: 43%;
    left: 48%;
    transform: rotate(90deg);
}


#bll {
    top: 42%;
    left: 60%;
    transform: rotate(90deg);
}


/* Section 2 Landing */

#wrap-2 {
    width:100%;
    height: 100%;
    background: whitesmoke;
    background-size: cover;
    
}
#cWrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

#textBox {
    height: 50%;
    font-size: 150%;
    position: relative;
    top: 25%;
    left: 20%;
    display: flex;
    flex-direction: column;
}




#imgBox {
    position: relative;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
}

.imgContainer {
    position: absolute;
    width: 35%;
    height: 70%;
    border-radius: 5px;
    border: .5px solid lightskyblue;
}

.imgContainer img {
    width: 135%;
    height: 135%;
}


#img1 {
    top: -10%;
    left: -15%;
    position: relative;
    transition: 2s;
}

#img1:hover {
    transition: .5s;
    transform: rotate(-3deg);
}


#imgContain-1 {
    position: absolute;
    left: 10%;
    background: url(../img/VGSkull.jpg) center/cover;
    /* opacity: 0;
    -webkit-transform: translateX(-300%);
         -moz-transform: translateX(-300%);
            -ms-transform: translateX(-300%);
             -o-transform: translateX(-300%);
                    transform: translateX(-300%);
    -webkit-transition: all 1.15s ease-in-out;
         -moz-transition: all 1.15s ease-in-out;
            -ms-transition: all 1.15s ease-in-out;
             -o-transition: all 1.15s ease-in-out;
                    transition: all 1.15s ease-in-out; */
}

#imgContain-1.visible {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

#imgContain-2 {
    position: absolute;
    top: 45%;
    left: 50%;
    background: url(../img/computer.jpg) center/cover;
    /* opacity: 0;
    -webkit-transform: translateY(200%);
         -moz-transform: translateY(200%);
            -ms-transform: translateY(200%);
             -o-transform: translateY(200%);
                    transform: translateY(200%);
    -webkit-transition: all 1.3s ease-in-out;
         -moz-transition: all 1.3s ease-in-out;
            -ms-transition: all 1.3s ease-in-out;
             -o-transition: all 1.3s ease-in-out;
                    transition: all 1.3s ease-in-out; */
}

#imgContain-2.visible {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

#imgContain-3 {
    position: absolute;
    top: -35%;
    left: 50%;
    background: url(../img/Bacon_seated.jpg) center/cover;
    /* opacity: 0;
    -webkit-transform: translateX(300%);
         -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
             -o-transform: translateX(300%);
                    transform: translateX(300%);
    -webkit-transition: all 1.61s ease-in-out;
         -moz-transition: all 1.61s ease-in-out;
            -ms-transition: all 1.61s ease-in-out;
             -o-transition: all 1.61s ease-in-out;
                    transition: all 1.61s ease-in-out; */
}

#imgContain-3.visible {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}


#img2 {
    top: -10%;
    left: -15%;
    position: relative;
    transition: 2s;
}

#img2:hover {
    transition: .5s;
    transform: rotate(-3deg);
}
#img3 {
    top: -10%;
    left: -15%;
    position: relative;
    transition: 2s;
}

#img3:hover {
    transition: .5s;
    transform: rotate(-3deg);
}

#textBox h1 {
    margin-top: 20%;
}





#logo {
    position: fixed;
    width: 5%;
    height: 8%;
    right: .2%;
    top: 1%;
    background: url(../img/Logo_v1.png) center/cover transparent;
    z-index: 3;    
}

#logo:hover {
    transition: .5s;
    opacity: .6;
}

#logo a {
    height: 100%;
    width: 100%;
}

#box1 {
    width: 100%;
    height: 100%;
}


/* Cursor Styling */

#cursor { 
    position: fixed;
    width: 30px;
    height: 30px; /* as the half of the width */
    pointer-events: none;
    z-index: 3;
    transform: scale(1.2);
    }

#cursor2 { 
    position: fixed;
    width: 30px;
    height: 28px; /* as the half of the width */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    z-index: 3;
    pointer-events: none;
    }


#cursor3 { 
    position: fixed;
    width: 30px;
    height: 28px; /* as the half of the width */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    z-index: 3;
    pointer-events: none;
    }
#cursor4 { 
    position: relative;
    background-color: black;
    width: 2px;
    height: 15px; /* as the half of the width */
    z-index: 3;
    pointer-events: none;
    top: 22%;
    left: 45.5%;
    }  

#dot {
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    position: relative;
    background: darkblue;
    opacity: 0;
}  


 

.ancLeft {
    transition: .3s;
    transform: scale(.75) rotate(90deg);

}

.ancRight {
    transition: .3s;
    transform: scale(.75) rotate(90deg);

}
.ancCenter {
    position: absolute;
    transition: .2s;
    background-color: #5DADE2!important;
    top: 30%!important;
    left: 33.5%!important;
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    border: .2px solid black;
}
