* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poiret One', cursive;
}
/* width */
::-webkit-scrollbar {
    width: 9px;
    display: none;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    box-shadow: outset 0 0 5px grey; 
    border: 1px solid black;
    border-radius: 5%;
  }
   
   Handle 
  ::-webkit-scrollbar-thumb {
    background: #34495E; 
    border-radius: 10px;
    
  }
  
  Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: mediumslateblue; 
  }*/

  /* Landing Page */
#body_wrap {
    width: 100%;
    height: 100%;
}

#landing {
    position: relative;
    width: 100vw;
    height: 100%;
    scroll-behavior: smooth;

}

#l-wrapper {
    height: 100%;
    width: 100%;

}




/* Page 2 */

#page2 {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffe7da;
    background-size: cover;


}
























































/* Page 3 */

#page3 {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffe7da;
    background-size: cover;

}



/* Page 4 */

#page4 {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffe7da;
    background-size: cover;
}



/* SideBar Navbar */
#wrap-1{
    position: absolute;
    width: 5%;
    min-height: 400vh;
    background-color: #314F6B;
    opacity: .85;
    transition: .9s;
    z-index: 2;
    overflow: hidden;
}   

#wrap-1 a {
    color: white;
}

#lineWrap {
    position: fixed;
    top: 70%;
    left: -3.5px;
    height: 60%;
    width: 20%;
    background-color: transparent;
    visibility: hidden;
    overflow: hidden;
}

#line1, #line2, #line3, #line4 {
    position: relative;
    height: 1.5px;
    margin-bottom: 15%;
    width: 100%;
    background-color:  #B88367;
    transform: translateX(100%);
    z-index: 2;
    opacity: 0;
}

#wrap-1:hover #line1 {
    transition: 1s;
    opacity: 1;
    transform: translateX(-30%);
}

#wrap-1:hover #line2 {
    transition: .75s;
    opacity: 1;
    transform: translateX(-30%);
}
#wrap-1:hover #line3 {
    transition: .5s;
    opacity: 1;
    transform: translateX(-30%);
}
#wrap-1:hover #line4 {
    transition: .25s;
    opacity: 1;
    transform: translateX(-30%);
}


#wrap-1:hover #lineWrap {
    transition: 1s;
    visibility: visible;
}

#line1 {
    width: 25%;
    right: -80%;
}


#line2 {
    width: 25%;
    right: -70%;
}

#line3 {
    width: 25%;
    right: -60%;
}

#line4 {
    width: 25%;
    right: -50%;
}


#link1::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #B88367;
    transition: .4s;
    opacity: 0;
    transform:  translateX(-100%);
} 

#link1:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link1:hover {
    color: #8CA2B8!important;
}

#link2::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #B88367;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link2:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link2:hover {
    color: #8CA2B8!important;
}

#link3::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #B88367;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link3:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link3:hover {
    color: #8CA2B8!important;
}



#link4::before {
    position: absolute;
    top: 55%;
    width: 100%;
    content: "";
    height: 1.5px;
    background-color: #B88367;
    transition: .4s;
    visibility: hidden;
    transform:  translateX(-100%);
} 

#link4:hover:before {
    visibility: visible;
    transform: translateX(0);
    opacity: .8;
}

#link4:hover {
    color: #8CA2B8!important;
}
#wrap-1:hover {
    border-right: 2px solid #5DADE2;
    width: 20%;
    
}

#navWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navWrap h2:first-child {
    position: fixed;
    top: 20%;
    transform: translateX(100%);
    visibility: hidden;
    
}

#navWrap h2:nth-child(2) {
    position: fixed;
    top: 30%;
    transform: translateX(100%);
    visibility: hidden;
}

#navWrap h2:nth-child(3) {
    position: fixed;
    top: 40%;
    transform: translateX(100%);
    visibility: hidden;
}
#navWrap h2:nth-child(4) {
    position: fixed;
    top: 50%;
    transform: translateX(100%);
    visibility: hidden;
}
#wrap-1:hover h2 {
    transition: 1s;
    transform: translateX(5%);
    visibility: visible;
}

#navWrap a {
    text-decoration: none;
}

#navWrap a:visited {
    color: white;
}

#wrap-1 h2 {
    font-size: 130%;
    color: whitesmoke;
}

#handleWrap {
    top: 0;
    position: fixed;
    height: 100%;
    width: 4.25%;
    background-color: transparent;
    pointer-events: none;
    transform: scale(1.5);
}

#handleWrap .line {
    position: relative;
    background-color: lightblue;
    height: 2.25%;
    width: 1%;
    transition: .5s;
 
}

.letter {
    position: relative;
    right: -2px;
    width: 100%;
    height: 100%;
    font-size: .6rem;
    font-weight: bold;
    color: white;
    /* transition: .5s; */

}

#l1 {
    top: 20%;
}

#l2 {
    top: 5.5%;
}

#l3 {
    top: 20%;
}

#l4 {
    top: 10%;
}



#trl {
    top: 45%;
    transform: rotate(90deg);
}

#tll {
    top: 44%;
    transform: rotate(90deg);

}

#brl {
    top: 43%;
    transform: rotate(90deg);
}


#bll {
    top: 42%;
    transform: rotate(90deg);
}

/* Landing Page */

#wrap-2 {
    width:100%;
    height: 100%;
    background: #ffe7da;
    background-size: cover;
    overflow: hidden;
    z-index: 5;
}


#welcome_wrap {
    position: relative;
    top: 5%;
    margin: auto;
    height: 90%;
    width: 60%;
    background-color: transparent;
    /* border: 1px solid black; */
    padding: 1rem;

}

#welcome_text{
    position: relative;
    top: 35%;
    left: -15%;
    padding: 1rem;
    text-align: left;
    /* border: 1px solid black; */
    padding: 1rem;
    transition: 1.2s;
}

#welcome_text h1 {
    font-size: 2rem;
     padding: 1rem;
}

#welcome_text h2 {
    font-size: 1.5rem;
     padding: 1rem;     

}

#welcome_text button {
    position: relative;
    left: 60%;
    margin: .5rem 0;
    padding: .5rem;
    border: none;
    border-radius: .25rem;
    font-size: 1.35rem;
    background-color: transparent;

}

#welcome_text button::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 102%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #B88367;
    transition: .75s;
}


#welcome_text button:hover::after {
    top: 50%;
    left: 0%;
    border-radius: 0;
    width: 60%;
    height: 8%;
    background-color: #B8A342;
}

#welcome_text button:hover::before {
    left: 62%;
    background-color: #B88367;
}

#welcome_text button::before {
    content: "";
    position: absolute;
    bottom: 7%;
    left: 5%;
    width: 35%;
    height: 6%;
    background-color: #6B4937;
    transition: .75s;
}


/* #welcome_text button::before {
    position: absolute;
    top: 30%;
    left: -15%;
    border-radius: 50%;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #6B4937;
} */


#welcome_text button:hover {
    transition: .5s;
    opacity: .8;
}


#welcome_frame {
    position: relative;
    top: -10%;
    left: 78%;
    background-color: lightslategray;
    width: 40%;
    height: 60%;
    border-radius: 1rem;
    border: 5px solid lightslategrey;
    /* background-image: url(../img/Hamza.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}


#welcome_frame svg {
    position: relative;
    top: -25%;
    left: 5%;
    width: 100%;
    height: 155%;
    background-color: transparent;
}


#shortcutsWrap {
    position: fixed;
    bottom: 0%;
    left: 3.5%;
    width: 25%;
}
#shortcutsWrap i {
    position: relative;
    padding-left: 7.5%;
    padding-bottom: 2%;
    color: whitesmoke;
    opacity: 1;
    font-size: 2rem;
    transform: translateY(205%);
}

#fb {transition: 1s;}

#fb:hover {
    transition: .25s;
    color: #4267B2;
}

#ig {transition: 1.25s;}

#ig:hover {
    transition: .25s;
    color: #6B4937;
}

#gh {transition: 1.5s;}

#gh:hover {
      transition: .25s;
    color: black;
}

#logo {
    position: fixed;
    width: 4%;
    height: 6.5%;
    right: .2%;
    background: url(../img/Logo_v1.png) center/cover transparent;
    z-index: 3;    
}

#logo:hover {
    transition: .5s;
    opacity: .6;
}

#logo a {
    height: 100%;
    width: 100%;
}

#box1 {
    width: 100%;
    height: 100%;
}


/* Cursor Styling */

#cursor { 
    position: fixed;
    width: 30px;
    height: 30px; /* as the half of the width */
    pointer-events: none;
    z-index: 3;
    transform: scale(1.05);
    }

#cursor2 { 
    position: fixed;
    width: 30px;
    height: 28px; /* as the half of the width */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    z-index: 3;
    pointer-events: none;
    }


#cursor3 { 
    position: fixed;
    width: 30px;
    height: 28px; /* as the half of the width */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    z-index: 3;
    pointer-events: none;
    }
#cursor4 { 
    position: relative;
    background-color: black;
    width: 2px;
    height: 15px; /* as the half of the width */
    z-index: 3;
    pointer-events: none;
    top: 22%;
    left: 45.5%;
    }  

#dot {
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    position: relative;
    background: darkblue;
    opacity: 0;
}  


 

.ancLeft {
    transition: .3s;
    transform: scale(.75) rotate(90deg);

}

.ancRight {
    transition: .3s;
    transform: scale(.75) rotate(90deg);

}
.ancCenter {
    position: absolute;
    transition: .2s;
    background-color: #B88367!important;
    top: 30%!important;
    left: 33.5%!important;
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    border: .2px solid black;
}



